<p-toast></p-toast>

<p-menubar>
    <ng-template pTemplate="start">
        <h1>IBKR Wheel Tracker</h1>
    </ng-template>
</p-menubar>

<p-fileUpload name="demo[]" (onUpload)="onUpload($event)" (uploadHandler)="uploadHandler($event)" [customUpload]='true'
            [multiple]="true" accept="" [maxFileSize]="10000000">
            <!-- <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template> -->
            <ng-template let-file pTemplate="file">
                <div>{{file.name}} - {{file.size}} byte</div>
            </ng-template>

    </p-fileUpload>

    <p-tabView>
        <ng-container *ngFor="let account of data | mapToArray">           
        <p-tabPanel [header]="account.key">
            <div *ngFor="let ticker of account.value | mapToArray">
                <h3>{{ticker.key}}</h3>
                <p-table [value]="ticker.value.stock_trades | mapToArray" *ngIf="!empty(ticker.value.stock_trades)">
                    <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let column of stock_columns | mapToArray">
                            {{ column.value }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stock_trade>
                    <tr>
                    <td *ngFor="let column of stock_columns | mapToArray">
                        <!-- {{print(stock_trade)}} -->
                        {{stock_trade.value.summary[column.key]}}
                    </td>
                </tr>
                </ng-template>
                </p-table>
            
                <p-table [value]="ticker.value.option_trades | mapToArray" *ngIf="!empty(ticker.value.option_trades)">
                    <ng-template pTemplate="header">
                    <tr>
                        <th>Symbol</th>
                        <th *ngFor="let column of stock_columns | mapToArray">
                            {{ column.value }}
                        </th>
                        <th *ngFor="let column of stock_columns | mapToArray">
                            {{ column.value }}
                        </th>
                    </tr></ng-template>
                    <ng-template pTemplate="body" let-symbol>

                        <tr>
                            <td><strong>{{symbol.key}}</strong></td>
                            <td *ngFor="let column of stock_columns | mapToArray">
                                <!-- {{print(stock_trade)}} -->
                                <div *ngFor="let option_trade of symbol.value | mapToArray">
                                    {{option_trade.value.summary[column.key]}}
                                </div>
                            </td>
                        </tr>
                </ng-template>
                </p-table>
                
            </div>   
        </p-tabPanel>
    </ng-container >
    </p-tabView>